@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&family=The+Girl+Next+Door&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1c1c1c;
}

.register-button {
  background-color: #ba8300;
  border-color: transparent;
  padding: 8px;
  font-size: 20px;
  transition: 0.5s;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-button:hover {
  background-color: #1c1c1c;
  border-color: #ba8300;
  color: white;
}

.register-form {
  position: relative;
  bottom: 30px;
  gap: 15px;
  margin-top: 20px;
}

.login-label {
  color: rgba(255, 255, 255, 0.733);
  align-self: self-start;
  margin-left: 12%;
  font-family: fantasy;
  font-size: 20px;
}

.register-label {
  color: rgba(255, 255, 255, 0.733);
  align-self: self-start;
  margin-left: 12%;
  font-family: fantasy;
  font-size: 20px;
}

.login-input {
  padding: 10px;
  border-radius: 5px;
  background-color: #1c1c1c;
  border: 3px solid white;
  width: 75%;
  color: white;
  font-size: 20px;
}

.register-input {
  padding: 10px;
  border-radius: 5px;
  background-color: #1c1c1c;
  border: 3px solid white;
  width: 75%;
  color: white;
  font-size: 20px;
}

.remember {
  color: white;
  font-size: 20px;
}

.card-footer {
  background-color: #1c1c1c;
  color: white;
  font-family: fantasy;
  height: 90px;
  font-size: 20px;
  position: relative;
}

.card-footer-register {
  position: relative;
  bottom: 10px;
  height: 50px;
}

.sign {
  position: relative;
  top: 25px;
  font-size: 18px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}

.register-form-item {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  margin-bottom: 10px;
}

.login-button {
  width: 75%;
  align-self: center;
}

.remember {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.remember-text {
  position: relative;
  top: 8px;
}

.middle {
  display: flex;
  justify-content: space-around;
}

.forgot-pass {
  position: relative;
  top: 8px;
}

.like-link {
  cursor: pointer;
  color: #ba8300;
  text-decoration: underline;
  font-size: 20px;
}

.movie-icon {
  color: #ba8300;
  position: relative;
  bottom: 16px;
}

.create-account {
  position: relative;
  color: white;
  font-size: 40px;
  margin-bottom: 15px;
  bottom: 10px;
}

.round-button {
  color: white;
  width: 70px;
  height: 70px;
  background-color: #9e7106;
  border-radius: 50%;
  border-color: transparent;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.round-button:hover {
  background-color: #131313;
  color: #9e7106;
}

.three-buttons {
  display: flex;
  gap: 2%;
  justify-content: right;
}

.the-eye {
  width: 30px;
  height: 40px;
}

.add-watchlist {
  font-size: 30px;
  font-weight: bold;
}

.add-top {
  font-size: 20px;
  font-weight: bold;
}

.watched-title {
  color: #9e7106;
  float: left;
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 70px;
}

.watched-page {
  display: flex;
  flex-direction: column;
}

.watched-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 100%;
  justify-content: flex-start;
  margin-top: 10px;
}

.single-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c7c8c9;
  gap: 10px;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 90%;
}

.single-left {
  display: flex;
  align-items: center;
}

.single-year,
.single-runtime,
.single-type {
  margin: 5px 0;
  font-size: 0.9rem;
}

.single-type {
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.384);
  padding: 0px 5px;
}

.watched-cross {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #96959423;
  width: 20px;
  height: 20px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  z-index: 99;
  float: left;
}

.custom-dropdown {
  width: 180%;
}

.register-error {
  position: relative;
  color: #9e7106;
  margin-bottom: -10px;
  right: 18%;
}

@media only screen and (max-width: 1000px) {
  .movie-card {
    flex-direction: column;
    gap: 20px;
  }
  .three-buttons {
    display: flex;
    gap: 2%;
    justify-content: center;
  }
  .dropdown-menu {
    position: absolute !important;
  }
  .find-user-div {
    gap: 5%;
  }
  .find-user {
    width: 13em;
    height: 20px;
  }

  .find-user-btn {
    position: relative;
    top: 7px;
    height: 30px;
  }
  .top-title {
    margin-top: 60px;
  }
  .movie-page-title {
    margin-top: 50px;
  }
  .ReactModal__Content {
    width: 70%;
    left: 15% !important;
  }
}

@media only screen and (max-width: 500px) {
  .d-flex {
    top: 0;
  }
  .find-user-div {
    position: relative;
    top: 40px;
    margin-bottom: -10% !important;
    left: 30px;
  }
  .find-user {
    height: 20px;
  }
  .watched-title {
    font-size: 40px;
    position: relative;
    top: 50px;
  }
  .watched-container {
    margin-top: 80px;
  }
  .watched-stats {
    top: 50px;
  }
  .poster-image {
    width: 170px;
  }
  .left-small {
    font-size: 11px;
  }
  .right-small {
    justify-content: center;
  }
  .movie-page-title {
    font-size: 50px;
  }
  .movie-container-second {
    margin-top: 50px !important;
    width: 100%;
  }
  .ReactModal__Content {
    width: 100%;
    left: 0px !important;
  }
  .remember-text {
    font-size: 15px;
  }
  .like-link {
    font-size: 15px;
  }
}
